.geocoder {
  padding: 2em;
  height: 150px;
}

.buttonContainer {
  display: grid;
  justify-content: center;
  position: relative;
}

.heading {
  text-align: center;
}

.list {
  max-height: 60vh;
  overflow: auto;
}

.warn {
  color: var(--warn);
}

.button {
  height: 64px;
  background-color: transparent;
  border: none;
  font-size: 1.6em;
  font-family: "Zen Loop", cursive;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  z-index: -1;
  background: var(--color1);
  transition: width 200ms;
  left: 30%;
}

.button:is(:hover, :focus)::before {
  width: 40%;
}
