.locationCard {
  list-style: none;
  display: grid;
  position: relative;
  padding: 1em 1em;
  margin-right: 2em;
  background-color: var(--color2);
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.locationCard:last-child {
  margin-bottom: 100px;
}
.button {
  background-color: transparent;
  border: none;
  font-size: large;
  position: absolute;
  right: 15px;
  top: 10px;
}
