.footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 5px;
  background-color: var(--background);
  border-radius: 15px 15px 0 0;
}

.navIcon {
  width: 40px;
  height: 40px;
}

.button {
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
}

.navIconInactive {
  width: 40px;
  height: 40px;
  fill: gray;
}
