.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.locationListing {
  list-style: none;
  display: inline-block;
  background-color: var(--color2);
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.settings {
  padding: 0 1em;
}
